<%- include("header") -%>


  <div class="main-body">
    <img src="images\bg-pattern-top.svg" alt="circular-pattern-top" class="circular-pattern-top">
    <img src="images\bg-pattern-bottom.svg" alt="circular-pattern-bottom" class="circular-pattern-bottom">

    <div class="upper-container">Hindi to Urdu Convertor</div>
    <div class="middle-container">
      <div class="container">

        <div class="mb-3 row">
          <div class="col-sm-7">
            <label for="Textarea1" class="form-label bold">Enter your word</label>
          </div>

          <div class="col">
            <input class="form-control " id="Textarea2" type="text" aria-label="default input">
          </div>

        </div>
        <div class="mb-3 row">
          <div class="col">
            <label for="Textarea2" class="form-label bold">Alternative</label>
          </div>

          <div class="col">
            <p class="form-control" > <%= Converted %></p>
            <!-- <input class="form-control " id="Textarea2" type="text" aria-label="default input"> -->
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 col-6 ">
  <button class="btn btn-primary" type="button">Convert</button>
  <button class="btn btn-primary" type="button">Revert</button>
</div>


</body>

</html>
