<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hi</h1>
    <form  method="POST">
        <input type="text" name="word">
        <button type="submit" formaction="/convert" >convert</button>
        <button type="submit" formaction="/revert">revert</button>
    </form>
    <%= text_old %>
   
    <%= text_new %>

<script>
    function me(e){
e.preventDefault()
    }
</script>

 
</body>
</html>